<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="pragma" content="no-cache">

	<title>PyPush</title>

	<script src="{{ url_for('bower.static', filename='angular/angular.min.js') }}"></script>
	<script src="{{ url_for('bower.static', filename='angular-resource/angular-resource.min.js') }}"></script>
	<script src="{{ url_for('bower.static', filename='angular-bootstrap/ui-bootstrap.min.js') }}"></script>
	<script src="{{ url_for('bower.static', filename='angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}">

	<link href="{{ url_for('bower.static', filename='angular-xeditable/dist/css/xeditable.css') }}" rel="stylesheet">
	<script src="{{ url_for('bower.static', filename='angular-xeditable/dist/js/xeditable.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('bower.static', filename='components-font-awesome/css/font-awesome.min.css') }}">

	<script src="{{ url_for('static', filename='main.js') }}"></script>


</head>
<body>
	<div class="container">
	 	<h1>Microbots Push</h1>
	 	{% raw %}
	 	
	 	<hr/>

	 	<div ng-app="PyPushApp" ng-controller="PushList">
	 		<div class="row">
	 			<div class="col-md-3"><h3>Name</h3></div>
	 			<div class="col-md-2"><h3>UUID</h3></div>
	 			<div class="col-md-2"><h3>Battery</h3></div>
	 			<div class="col-md-2"><h3>Calibration</h3></div>
	 			<div class="col-md-2"><h3>Status</h3></div>
	 			<div class="col-md-1">&nbsp;<!--button--></div>
	 		</div>
		 	<div class="row" ng-repeat-start="(id, rec) in microbots track by id">
		 		<div class="col-md-3">
		 			<!-- Name -->
		 			<div class="popover-wrapper">
						<a href="#" editable-text="rec.name" onbeforesave="updateName(rec, $data)">
							{{ rec.name }}
						</a>
					</div>

		 		</div>
		 		<div class="col-md-2">
		 			<!-- UUID -->
		 			{{ rec.uuid }}
		 		</div>
		 		<div class="col-md-2">
		 			<!-- Battery -->
		 			<uib-progressbar value="rec.battery" max="1" title="Battery Level">{{ ((rec.battery * 100) || 0) | number:0 }}%</uib-progressbar>
		 		</div>
		 		<div class="col-md-2">
		 			<!-- Calibration -->
		 			<div class="popover-wrapper">
						<a href="#" editable-text="rec.calibration" onbeforesave="updateCalibration(rec, $data)" edit-disabled="(rec.calibration == null) || (rec.actions.indexOf('calibrate') < 0)">
							<uib-progressbar value="rec.calibration" max="1" title="Calibration">{{ ((rec.calibration * 100) || 0) | number:0 }}%</uib-progressbar>
						</a>
					</div>
		 		</div>
		 		<div class="col-md-2">
		 			<!-- Status -->
					<div class="row">
						<div ng-switch="rec.status" class="col-md-1">
							<i ng-switch-when="connected" class="fa fa-refresh" aria-hidden="true" uib-tooltip="Connected"></i>
							<i ng-switch-when="not_connected" class="fa fa-plug" aria-hidden="true" uib-tooltip="Disconnected"></i>
							<i ng-switch-when="not_paired" class="fa fa-chain-broken" aria-hidden="true" uib-tooltip="Not Paired"></i>
							<p ng-switch-default>
								{{ rec.status }}
							</p>
						</div>
						<div class="col-md-1">
							<div ng-if="rec.error">
								<i class="fa fa-exclamation-triangle" aria-hidden="true" uib-tooltip-html="<tt>{{ rec.error }}</tt>"></i>
							</div>
						</div>
						<div class="col-md-1">
							<i uib-tooltip="Extended" ng-if="rec.retracted === false" class="fa fa-dot-circle-o" aria-hidden="true"></i>
							<i uib-tooltip="Retracted" ng-if="rec.retracted === true" class="fa fa-circle-o" aria-hidden="true"></i>
						</div>
					</div>
		 		</div>
		 		<div class="col-md-1">
		 			<button type="button" class="btn btn-s btn-primary" ng-model="collapseStatus" uib-btn-checkbox btn-checkbox-true="0" btn-checkbox-false="1">
				        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
				    </button>
		 		</div>
		 	</div>
		 	<div class="row" ng-repeat-end>
		 		<div uib-collapse="collapseStatus" ng-init="0" >
					<div class="well well-lg">
						<!-- Press/extend/release url endpoints -->
						<div class="row" ng-repeat="action in publicEndpointActions(rec.actions)">
							<div class="col-md-11"><input type="text" class="form-control"  value="{{ actionUrl(rec, action) }}" /></div>
							<div class="col-md-1"><button type="button" class="btn btn-default"  ng-click="doAction(rec.uuid, action)" width="100%">{{action}}</button></dir>
						</div>
						<div class="row" ng-if="row.error" >
							<blockquote class="col-md-12"><tt>
								{{ row.error }}
							</tt></blockquote>
						</div>
					</div>
				</div>
		 	</div>
		</div>

		{% endraw %}

		<div class="row">
		 	<a class="btn-default btn-lg btn-block btn-info" href="{{ url_for('get_action_log') }}">Get Action log</a>
		</div>
	</div>
</body>
</html>